.sunrise-gradient {
  background-image: linear-gradient(
    to top,
    #a8edea 0%,
    #fed6e3 100%
  ) !important;
}
.beach-gradient {
  background-image: linear-gradient(
    to top,
    #fddb92 0%,
    #d1fdff 100%
  ) !important;
}
.beach-gradient-2 {
  background-image: linear-gradient(
    to top,
    #fff1eb 0%,
    #ace0f9 100%
  ) !important;
}
.cream-to-purple-gradient {
  background-image: linear-gradient(
    -20deg,
    #e9defa 0%,
    #fbfcdb 100%
  ) !important;
}
.green-to-blue-gradient {
  background-image: linear-gradient(
    to right,
    #74ebd5 0%,
    #9face6 100%
  ) !important;
}
.subtle-gradient {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  ) !important;
}
.header__bg {
  // background-color: rgba(0, 0, 0, 0.2) !important;
}
.footer__bg {
  // background-color: rgba(0, 0, 0, 0.2) !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #222;
}

.module-border-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}
